
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar color="basic">
      <h2>Menu</h2>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>
        <p>Menu Item 1</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Menu Item 2</p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1>Movies!</h1>
</mat-toolbar>
  <static-page></static-page>
  <static-page></static-page>
  <static-page></static-page>
  </mat-sidenav-content>
</mat-sidenav-container>

